// prime colors
$prime_purple: #FE9300;
$prime_purple_light: #ffbc5e;
$prime_purple_bright: #ffedd3;
$prime_dark_text: #ab6400;
$prime_gray:#C1C1C1;
$dark_gray:#6e6e6e;
$light_gray:#d7d7d7;
$transprent: rgba(255, 255, 255, 0);

// other colors
// btn colors
$homepage_btn: #45ecd9;

// others
$schoolMember: #4676ED;
$ProfileBg:#5E7380;
$trans-navBg: rgba(160, 160, 160, 0.438);

.u-primeColor{
    fill: $prime_purple;
}

.u-prime-text{
    color: $prime_dark_text;
}